body, html {
    margin: 0;
    font-family: Arial;

}

.content {
    margin: 0 auto;
    width: 400px;
}

table, td, th {
    border: 1px solid #aaa;
}

.thRow {
  background-color: lightcoral;
}

.tdRow {
  background-color: saddlebrown;
}

th {
    height: 30px;
    padding: 5px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}
