body, html {
    margin: 0;
    font-family: Arial;

}

.content {
    margin: 0 auto;
    width: 400px;
}

table, td, th {
    border: 1px solid #aaa;
}

.thRow {
  background-color: rgba(210, 105, 30, 0.753);
}

.tdRow {
  background-color: #cebe33;
}

th {
    height: 30px;
    padding: 5px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}
